[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim.symlink/bundle/vundle"]
	path = vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "zsh/zprezto.symlink"]
	path = zsh/zprezto.symlink
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "zsh/fasd"]
	path = zsh/fasd
	url = https://github.com/clvv/fasd
