[submodule "zsh/fasd"]
	path = zsh/fasd
	url = https://github.com/clvv/fasd
[submodule "zsh/zprezto.symlink"]
	path = zsh/zprezto.symlink
	url = git@github.com:eprst/prezto.git
[submodule "vim.symlink/bundle/neobundle.vim"]
	path = vim.symlink/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vim.symlink/bundle/vim-airline-themes"]
	path = vim.symlink/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim.symlink/bundle/xmledit"]
	path = vim.symlink/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
