.neobundle
YankRing.vim
chela_light
nerdtree
scala-vundle
supertab
unite.vim
vim-colors-solarized
vimoutliner
vimproc
unite-locate
vim-airline
unite-outline
ZoomWin
openscad.vim
vim-multiple-cursors
vim-maximizer
